@model ProductVM

<form method="post" enctype="multipart/form-data">
	<input asp-for="Product.ProductId" hidden />
	<input asp-for="Product.ImageUrl" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.Product.ProductId!=0?"Update":"Create") Product</h2>
			<hr/>
		</div>
		@* <div asp-validation-summary="ModelOnly"></div> *@

		<div class="row">
			<div class="col-10">
				@* Name *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.Name" class="p-0"></label>
			<input asp-for="Product.Name" class="form-control"/>
			<span asp-validation-for="Product.Name" class="text-danger"></span>
		</div>

				@* Description *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.Description" class="p-0"></label>
			<input asp-for="Product.Description" class="form-control"/>
			<span asp-validation-for="Product.Description" class="text-danger"></span>
		</div>

				@* CategoryName *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.CategoryName" class="p-0"></label>
			<select asp-for="Product.CategoryName" asp-items="@Model.CategoryList" class="form-select p-0">
				<option disabled selected>--Select Category--</option>
			</select>
			<span asp-validation-for="Product.CategoryName" class="text-danger"></span>
		</div>

				@* BasePrice *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.BasePrice" class="p-0"></label>
			<input asp-for="Product.BasePrice" class="form-control" />
			<span asp-validation-for="Product.BasePrice" class="text-danger"></span>
		</div>

				@* Price4 *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.Price4" class="p-0"></label>
			<input asp-for="Product.Price4" class="form-control" />
			<span asp-validation-for="Product.Price4" class="text-danger"></span>
		</div>

				@* Price10 *@
		<div class="form-floating py-2 col-12">
			<label asp-for="Product.Price10" class="p-0"></label>
			<input asp-for="Product.Price10" class="form-control" />
			<span asp-validation-for="Product.Price10" class="text-danger"></span>
		</div>

				@* ImageUrl *@
		<div class="form-floating py-2 col-12 form-check">
			<input type="file" name="file" class="form-control" />
			<label asp-for="Product.ImageUrl" class="ms-2"></label>
		</div>

				@* AvailableNow (Checkbox) *@
		<div class="form-floating py-2 col-12 form-check">
			<input asp-for="Product.AvailableNow" class="form-check-input" />
			<label asp-for="Product.AvailableNow" class="form-check-label"></label>
			<span asp-validation-for="Product.AvailableNow" class="text-danger"></span>
		</div>

				@* HasColorOption *@
		<div class="form-floating py-2 col-12 form-check">
			<input asp-for="Product.HasColorOption" class="form-check-input" />
			<label asp-for="Product.HasColorOption" class="form-check-label"></label>
			<span asp-validation-for="Product.HasColorOption" class="text-danger"></span>
		</div>

				@* HasTypeOption *@
		<div class="form-floating py-2 col-12 form-check">
			<input asp-for="Product.HasTypeOption" class="form-check-input" />
			<label asp-for="Product.HasTypeOption" class="form-check-label"></label>
			<span asp-validation-for="Product.HasTypeOption" class="text-danger"></span>
		</div>

				@* HasColorSchemeOption *@
		<div class="form-floating py-2 col-12 form-check">
			<input asp-for="Product.HasColorSchemeOption" class="form-check-input" />
			<label asp-for="Product.HasColorSchemeOption" class="form-check-label"></label>
			<span asp-validation-for="Product.HasColorSchemeOption" class="text-danger"></span>
		</div>



		<div class="row pt-2">
			<div class="col-6 col-md-3">
						@if (Model.Product.ProductId != 0)
						{
						<button type="submit" class="btn btn-primary form-control" >Update</button>
						}
						else
						{
						<button type="submit" class="btn btn-primary form-control" >Create</button>
						}
			</div>
			<div class="col-6 col-md-3">
			<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
				 Back to list
			 </a>
			</div>
		</div>
			</div>

			<div class="col-2">
				<img src="@Model.Product.ImageUrl" width="100%" 
					style="border-radius:5px; border:1px solid #bbb9b9" />
			</div>
		</div>

</form>

@section Scripts{
	@{
		<patrial name="_ValidationScriptsPartial" />
	}
}